<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /E-cab/Deshboard/

    # Exclude real directories and files from rewrite
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f

    # Rewrite for the driver subdirectory
    RewriteRule ^([^/]+)/?$ $1.php [L]
</IfModule>

